.main {
  min-height: 100vh;
  background-image: linear-gradient(0deg, #ebca83 0%, #acdbdd 100%);
  font-family: "Playfair Display";
}

.contact {
  min-height: 100vh;
  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
  font-family: "Playfair Display";
}
.project {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #ece1a3 0%, #96e1e6 100%);
  font-family: "Playfair Display";
}

.container h1 {
  color: #374151;
  font-size: 2rem;
}
.container h2 {
  color: #4b5563;
  font-size: 1.5rem;
}

.container p {
  color: #4b5563;
  font-size: 1rem;
}

.container span {
  color: #fd504a;
}

.container {
  width: 100%;
  max-width: 64rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem 4rem;
}

@media (max-width: 640px) {
  .container {
    padding: 2rem 1.5rem;
  }
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  max-width: 450px;
}
